.slider-container {
  width: 81%;
  height: 134.44px;
  left: 178px;
  padding: 0px;
  gap: 0px;
  opacity: 0px;
  margin: 33px auto;
  background-color: white;
}


.slick-list {
  background: #f8fafc;
}
@media (max-width: 580px) {
  .slick-prev,
  .slick-next {
    display: none !important; 
  }
}
