.right-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-icon {
  display: inline;
}
@media (max-width: 768px) {
  .search-icon {
    display: none;
  }
  .right-container{
    order: -1;
  }
  .logo img{
    width: 117.47px;
    height: 25px;
  }
}
